body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d0ebff;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(135, 135, 135);
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto 10px auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
}

.weather-temperature .units {
  font-size: 16px;
}

.fahrenheit {
  text-decoration: none;
}

.my-name {
  font-weight: 600;
}
